.abstract-class{
    background-color: white; 
}
@media (min-width: 768px) {
   .abstract-class{
    width: 100%;
   } 
   .abstract-class > div{
    margin-left: 20px;
    margin-right: 20px;
   }
}
.categoryAndDifficultyHeading{
    text-align: center;
    margin-top: 30px;
}
@media (min-width: 768px) {
   .categoryAndDifficultyHeading{
    font-size: x-large;
   } 
}
.counter{
    display: grid;
    justify-content: center;
    font-size: x-large;
}
.question-no-header{
    display: flex;
    justify-content: space-around;
}
.question-no-header > button{
    width: 2em;
    height: 2em;
    border: none;
    margin: 1px;
    display: grid;
    place-content: center;
    font-size: large;
    color: white;
    border-radius: 50%;
}
@media (min-width: 768px) {
   .question-no-header > button{
        width: 3em;
        height: 3em;
   } 
}