*{
    margin: 0;
    font-family:  monospace;
}

.app{
    overflow-y: scroll;
    display: grid;
    min-height: 100vh;
    align-content: space-between;
}
.header{
    background-color: lightblue;
    width: 100vw;
    height: max-content;
}
.header > header > h1{
    text-align: center;
}
.header > header > p{
    text-align: center;
    font-size: 1.5em;
} 
.footer{
    background-color: lightblue;
    order: 3;
    width: 100vw;
}
.footer > h2{
    text-align: center;
}
.footer > h2 > a{
    text-decoration: none;
    color: black;
}